{% load static %}
<html>
  <head>
    <script src="{% static "js/htmx.min.js" %}"></script>
    <!---
		<script src="{% static "js/tailwind.js" %}"></script>
	--->
	
	<link rel="stylesheet" type='text/css' href="{% static "css/output.css" %}">
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="navbar">
      {% block nav %}

      {% endblock %}
    </div>
    <div id="app">
      {% block app %}

      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}

      {% endblock %}
    </div>
  </body>
</html>
