<div id="user-list-container"
	hx-get="/game/user_list?game_id={{ gameData.id }}"
	hx-trigger="UserGameStateChange from:body"
	hx-swap="outerHTML"
	class="inline-grid glid-cols-1 my-5"
	>
	{% for other in users %}
	<div class="
		flex
		flex-row
		m-1
		outline
		outline-1
		rounded
		{% if other.ready%} outline-green-600
		{% else %}outline-red-600 {% endif %}
		{% if other.id == user.id %} font-bold {% endif %}
		"><span>{{ other.username }}</span>
		{% if other.host %}
		<img src="static/img/host_mark.png" class="w-4 h-4 m-1"/>
		{% elif user.host and not gameData.started%}
			<button
				hx-post="/game/kick?game_id={{ gameData.id }}&username={{other.username}}"
				class="
				bg-red-600
				hover:bg-red-500
				rounded
				outline
				outline-1
				m-1
				px-1
				">
				X
			</button>
		{% endif%}
	</div>
	{% endfor %}
</div>
