<div id="user-list-container"
	hx-get="/game/user_list?game_id={{ gameData.id }}"
	hx-trigger="UserGameStateChange from:body"
	hx-swap="outerHTML"
	>
	<div
		class="inline-grid grid-cols-2 my-5"
		>
		{% for other in users %}
		<div class="flex flex-row items-center">
			<div class="
				flex
				flex-row
				grow
				items-center
				m-1
				outline
				outline-1
				rounded
				{% if other.ready%} outline-green-600
				{% else %}outline-red-600 {% endif %}
				{% if other.id == user.id %} font-bold {% endif %}
				">
				<span class="mx-1 mr-4 grow">
					{{ other.username }}
				</span>
		{% if other.showman %}
		<img src="static/img/showman_mark.png" class="w-4 h-4 m-0.5">
		{% endif %}
		{% if other.host %}
		<img src="static/img/host_mark.png" class="w-4 h-4 m-0.5"/>
		{% endif %}
			</div>
		</div>
		<div
			class="flex flex-row items-center">
			{% if user.host and not gameData.started%}
			{% if not other.showman %}
			<button
				title="Kick from lobby"
				hx-post="/game/showman?game_id={{ gameData.id }}&username={{other.username}}"
				class="
				bg-blue-600
				hover:bg-blue-500
				rounded
				outline
				outline-1
				m-1
				w-5
				h-5
				">
				<img src="static/img/showman_mark.png" class="w-4 h-4 m-0.5">
			</button>
			{% endif %}
			{% if not other.host%}
			<button
				title="Kick from lobby"
				hx-post="/game/kick?game_id={{ gameData.id }}&username={{other.username}}"
				class="
				bg-red-600
				hover:bg-red-500
				rounded
				outline
				outline-1
				m-1
				w-5
				h-5
				text-sm
				">
				X
			</button>
			{% endif %}
			{% endif%}
		</div>
		{% endfor %}
	</div>
</div>
